@import 'mixins';
/* Template Constants
 * 
 * |===================== COLOR PALETTE ====================|
 *  - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 * |	Charcoal	|	#444340		|	68,67,64,1		|
 * |	Blue		|	#2abec1		|	42,190,193,1	|
 * |	Red			|	#f0555c		|	240,85,92,1		|
 * 
 * |====================== FONT STACKS =====================|
 *  - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 * |	Headings / Body	|	'Lucida Grande', 'Arial Unicode MS', sans-serif;	|
 */

/**
 * A quick reference point for colors most used throughout this stylesheet
 */
// Colors
@charcoal: rgba(68,67,64,1);
@blue: rgba(42,190,193,1);
@red: rgba(240,85,92,1);

/**
 * A quick reference point for font most used throughout this prototype
 */
// Fontstacks
@lucida: 'Lucida Grande', 'Arial Unicode MS', sans-serif;

* { outline: none; }

// Setting base styles for all body text and form elements
body, input, textarea, select {
	font-family: @lucida;
	color: @charcoal;
	font-size: 1em;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0.5em;
	.border-box;
}

.site-logo { text-align: center; }

/**
 * Mobile-friendly menu technique
 */
.opener { display: none; }
nav.top-nav {
	font-size: 0.75em;
	line-height: 1.3333333333333333em; // browser fallback for calc()
	line-height: calc(4/3 * 1em);
	text-align: center;
	font-weight: bold;
	margin-top: 1em;
	background-color: lighten(@charcoal,65%);
	.border-radius( 0.5em 0.5em 0 0 );

	.openers a { .border-radius( 0.5em 0.5em 0 0 ); }
	li { text-align: center; }
	a {
		display: block;
		color: inherit;
		padding: 0.25em 0;
		&:hover {
			background-color: lighten(@charcoal,70%);
		}
	}
	.openers a {
		background-color: lighten(@charcoal,65%);
		border-bottom: none;
		&:hover { color: inherit; }
	}

	.menu { display: none; }
}

.members-count-number { font-weight: bold; }

.search-meta {
	> div {
		padding: 0.5em 0;
		display: block;
		vertical-align: top;
		line-height: 1.5em;
		text-align: center
	}

	.view-options {
	// These options are translated into the Symbol font mentioned in index.php
		display: none;
		ul {
			margin: 0 auto;
			display: inline-block;
		}
		li {
			width: auto;
			display: inline-block;
			border: 1px solid lighten(@charcoal,50%);
			padding: 0.25em 0.5em;
			span {
				text-align: center;
				vertical-align: middle;
				line-height: 1em;
				color: lighten(@charcoal,60%);
				&.active { color: @red; }
			}
			&:hover { cursor: pointer; }
			&:first-of-type { .border-radius( 0.25em 0 0 0.25em ); }
			&:last-of-type { .border-radius( 0 0.25em 0.25em 0 ); }
		}
	}

	.view-sort {
		color: @red;
		font-weight: bold;
		select {
			color: @red;
			font-weight: bold;
			display: inline-block;
			padding: 0;
			margin: 0;
			border: 0;
			width: auto
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	color: @red;
	font-weight: bold;

	.search-criteria { color: @blue; }
}
p { line-height: 1.125em; }
a { text-decoration: none; }

.content-main {
	border: 1px solid lighten(@charcoal,65%);
	border-top: none;
	.border-radius( 0 0 0.5em 0.5em );

	> * { padding: 1em 0.5em; }
	article { display: block; vertical-align: top; }

	header { background-color: lighten(@charcoal,70%); }
}

.member {
	border: 1px solid lighten(@charcoal,50%);
	.border-radius(0.5em);
	margin: 0 auto 1em;
	color: lighten(@charcoal,30%);
	max-width: 225px;
	.border-box;

	.member--photo,.no-photo {
		position: relative;
		.member--total-photos {
			position: absolute;
			bottom: 0.5em; left: 0.5em;
			color: white;
			font-weight: bold;
		}
	}
	.member--profile-pic,.no-photo {
		width: 100%;
		.border-radius(0.5em 0.5em 0 0);
	}
	.no-photo { padding: 0.5em; }

	.member--meta { padding: 0.5em; }
	.member--meta--more { display: none; }

	.member--name,.data-head {
		color: @red;
		font-weight: bold;
	}

	.member--location { font-size: 0.8125em; }

	&:hover {
		background-color: @red;
		* { color: white; }
	}
}

/**
 * Media Queries
 * 
 * Theses media queries cover article.member grid layout resonsivity, 
 * top-nav mobile-friendly navigation using CSS :target method, 
 * alternate member view options between grid-view and rows-view
 * 
 */
@media (max-width: 480px) {
	nav.top-nav {
		.openers { position: relative; }
		.opener { display: block; }
		.opener--close { display: none; }
		.menu {
			position: absolute;
			top: -1000%;
		}

		.mainmenu:target {
			.menu { display: block; position: static; top: 100px; }
			.opener--close { display: block; }
			.opener--open { display: none; }
		}
	}
}

@media (min-width: 420px) {
	.content-main > * { padding: 2em 0.5em; }
	.search-meta {
		> div {
			display: inline-block;
			width: 30%;
			&:nth-of-type(2) { margin: 0 5%; }
		}

		.members-count { text-align: left; }
		.view-sort { text-align: right; }
		.view-options { display: inline-block; }
	}
	.search-results.view-rows {
		.member {
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 0 0 1em;
			> * { display: inline-block; vertical-align: top; }

			p {
				margin-bottom: 0.5em;
				&:last-child { margin-bottom: 0; }
			}

			.member--profile-pic,.no-photo { .border-radius( 0.5em 0 ); }
			.no-photo { max-width: 90px; }
			.member--meta--more { display: block; }

			.member--profile,
			.member--interests,
			.member--online-status {
				font-size: 0.8175em;
				font-weight: normal;
			}
		}
	}
}

@media (min-width: 360px) and (max-width: 479px) {
	.content-main article {
		display: inline-block;
		width: 42.77777777777778%; // browser fallback for calc()
		width: calc(154/360 * 100%);
		margin-right: 1em;
		&:nth-of-type(even) { margin-right: 0; }
	}
}

@media (min-width: 480px) {
	.site-logo {
		text-align: left;
		padding: 1.5em 0;
	}

	nav.top-nav {
		ul:not(.nav--head) {
			display: inline-block;
			text-align: center;
		}
		.nav--head { display: none; }
		nav.top-nav .nav--member { float: left; }
		nav.top-nav .nav--member { float: right; }

		li { display: inline-block; }
		li a {
			padding: 0.5em;
			background-color: transparent;
		}
	}
	.menu { padding: 0.25em 1em; }
	.openers { display: none; }
}

@media (min-width: 916px) {
	nav.top-nav ul {
		text-align: left;
	}
}

@media (min-width: 480px) and (max-width: 639px) {
	.content-main article {
		display: inline-block;
		width: 28.541666666666664%; // browser fallback for calc()
		width: calc(137/480 * 100%);
		margin-right: 1em;
		&:nth-of-type(even) { margin-right: 1em; }
		&:nth-of-type(3n) { margin-right: 0; }
	}
}

@media (min-width: 640px) and (max-width: 819px) {
	.content-main article {
		display: inline-block;
		width: 21.796875%; // browser fallback for calc()
		width: calc(279/1280 * 100%);
		margin-right: 1em;
		&:nth-of-type(even) { margin-right: 1em; }
		&:nth-of-type(3n) { margin-right: 1em; }
		&:nth-of-type(4n) { margin-right: 0; }
	}
}

@media (min-width: 820px) and (max-width: 899px) {
	.content-main article {
		display: inline-block;
		width: 22.317073170731707%; // browser fallback for calc()
		width: calc(183/820 * 100%);
		margin-right: 1em;
		&:nth-of-type(even) { margin-right: 1em; }
		&:nth-of-type(3n) { margin-right: 1em; }
		&:nth-of-type(4n) { margin-right: 0; }
	}
}

@media (min-width: 900px) {
	.content-main {
		article {
			display: inline-block;
			width: 18.45102505694761%; // browser fallback for calc()
			width: calc(162/878 * 100%);
			margin-right: 1em;
			&:nth-of-type(even) { margin-right: 1em; }
			&:nth-of-type(3n) { margin-right: 1em; }
			&:nth-of-type(4n) { margin-right: 1em; }
			&:nth-of-type(5n) { margin-right: 0; }
		}

		> * { padding: 2em; }
	}
}